* {
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 26, 32);
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

h2 {
    padding-top: 40px;
    font-weight: lighter;
}

.red {
    color: rgb(255, 0, 0);
}

